<!DOCTYPE html>
<html>
<head>
    <title>关于我们 - iFindBook</title>
    [% INCLUDE src/html_head.tt %]
</head>
<body>
    <div class="outer-wrapper">
        <div class="navbar navbar-static-top navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="[% c.uri_for_action('/index') %]">iFindBook</a>
                    <ul class="nav">
                        <li><a href="/">搜索</a><li>
                        <li><a href="/recommend">书单</a><li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="aboutus-main">
                <div class="page-header">
                    <p class="lead">关于我们</p>
                </div>
                <div class="intro-content">
                    <p>iFindBook是一个搜索和发现电子书的平台。使用iFindBook，用户可以很方便地搜索PDF, EPUB, MOBI, TXT等各类格式的电子书。书单功能中我们对电子书做了分类整理，让用户可以更容易地找到感兴趣的书。</p>
                    <p>iFindBook完美支持各种移动设备访问，用户无论通过手机还是平板电脑都能很轻松地浏览搜索电子书。</p>
                    <p>iFindBook的愿景是为用户提供最好的使用体验，做互联网最优秀的电子书搜索引擎。</p>
                </div>
            </div>
        </div>
    </div>
    [% INCLUDE src/footer.tt %]
</body>
</html>


