<!DOCTYPE html>
<html>
<head>
    <title>[% book.title %] - iFindBook</title>
    [% INCLUDE src/html_head.tt %]
    <script>
        var tags = [% tags %];
        $(document).ready(function() {
            book.init();
        });
    </script>
</head>
<body>
    <div class="outer-wrapper">
        <div class="navbar navbar-static-top navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li><a href="/">搜索</a><li>
                        <li class="active"><a href="/recommend">书单</a><li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="book-main">
                <ul class="breadcrumb book-breadcrumb">
                    <li><a href="[% c.uri_for_action('/recommend/index') %]">书单首页</a><span class="divider"> &gt;</span></li>  
                    <li><a href="[% c.uri_for_action('/recommend/catalog') %]/[% book.catalog %]">[% book.catalog %]</a><span class="divider"> &gt;</span></li>  
                    <li><a href="[% c.uri_for_action('/recommend/subcat') %]/[% book.subcat %]">[% book.subcat %]</a><span class="divider"> &gt;</span></li>  
                    <li class="active">[% book.title %]</li>  
                </ul>
                    
    
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object book-img" src="/static/pics/[% book.pic %]">
                    </a>
                    <div>
                        <h4 class="book-title">[% book.title %]</h4>
                        <div class="media">
                            <span class="rating[% book.rating %]"></span><br>
                            <span class="small">作者: [% book.author %]</span><br>
                            [% IF book.translator %]
                            <span class="small">译者: [% book.translator %]</span><br>
                            [% END %]
                            [% IF book.publisher %]
                            <span class="small">出版社: [% book.publisher %]</span><br>
                            [% END %]
                            [% IF book.pubdate %]
                            <span class="small">出版时间: [% book.pubdate %]</span><br>
                            [% END %]
                        </div>
                    </div>
                </div>
                
                <div class="book-search clearfix">
                    <div class="book-search-label">
                        <span class="btn btn-small disabled">搜一搜</span>
                    </div>
                    <div class="book-search-buttons">
                        <a href="[% c.uri_for_action('/search/index')%]?q=[% book.title %]" class="btn btn-success btn-small">所有格式</a>
                        <a href="[% c.uri_for_action('/search/index')%]?q=[% book.title %]+pdf" class="btn btn-success btn-small">PDF</a>
                        <a href="[% c.uri_for_action('/search/index')%]?q=[% book.title %]+epub" class="btn btn-success btn-small">EPUB</a>
                        <a href="[% c.uri_for_action('/search/index')%]?q=[% book.title %]+mobi" class="btn btn-success btn-small">MOBI</a>
                        <a href="[% c.uri_for_action('/search/index')%]?q=[% book.title %]+txt" class="btn btn-success btn-small">TXT</a>
                    </div>
                </div>

                <div class="book-desc">
                    [% IF book.description.size != 0 %]
                    <p class="text-warning">内容简介</p>
                    [% FOREACH i IN book.description %]
                    <p class="small">[% i %]</p>
                    [% END %]
                    [% END %]
                    [% IF book.author_intro.size != 0 %]
                    <br>
                    <p class="text-warning">关于作者</p>
                    [% FOREACH i IN book.author_intro %]
                    <p class="small">[% i %]</p>
                    [% END %]
                    [% END %]
                </div>
            </div>
        </div>
    </div>

    [% INCLUDE src/footer.tt %]
</body>
</html>


