<!DOCTYPE html>
<html>
<head>
    <title>书 - iFindBook</title>
    [% INCLUDE src/html_head.tt %]
    <script>
        var tags = [% tags %];
        $(document).ready(function() {
            book.init();
        });
    </script>
</head>
<body>
    <div class="outer-wrapper">
        <div class="navbar navbar-static-top navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li><a href="/">搜索</a><li>
                        <li><a href="/recommend">书单</a><li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="container">
            <div class="book-add">
                <legend>添加书</legend>
                <form action="[% c.uri_for_action('/book/add') %]" method="post">
                    <fieldset>
                        <img src="/static/images/book_default.png" alt="img-book" class="img-polaroid img-book">
                        <label class="control-label">isbn</label>
                        <div class="input-append">
                            <input type="text" name="isbn"/>
                            <button class="btn" id="btn-load" type="button">Load</button>
                        </div>
                        <label class="control-label">catalog</label>
                        <select name="catalog">
                        </select>
                        <label class="control-label">sub catalog</label>
                        <select name="subcat"/>
                        <select/>
                        <label class="control-label">title</label>
                        <input type="text" name="title"/><br/>
                        <label class="control-label">rating</label>
                        <input type="text" name="rating"/><br/>
                        <label class="control-label">author</label>
                        <input type="text" name="author"/><br/>
                        <label class="control-label">translator</label>
                        <input type="text" name="translator"/><br/>
                        <label class="control-label">publisher</label>
                        <input type="text" name="publisher"/><br/>
                        <label class="control-label">pubdate</label>
                        <input type="text" name="pubdate"/><br/>
                        <label class="control-label">pages</label>
                        <input type="text" name="pages"/><br/>
                        <label class="control-label">pic local path</label>
                        <input type="text" name="pic"/><br/>
                        <label class="control-label">description</label>
                        <textarea rows="20" class="book-desc" name="description"></textarea><br/>
                        <label class="control-label">author intro</label>
                        <textarea rows="20" class="book-desc" name="author_intro"></textarea><br/>
                        <button type="submit" class="btn">Add</button>
                    </fieldset>
                </form>
            </div>

            <div class="all-books">
                <legend>所有书</legend>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>catalog</th>
                            <th>subcat</th>
                            <th>isbn</th>
                            <th>title</th>
                            <th>pic</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        [% FOREACH i IN all_books %]
                        <tr>
                            <td>[% i.id %]</td>
                            <td>[% i.catalog %]</td>
                            <td>[% i.subcat %]</td>
                            <td>[% i.isbn %]</td>
                            <td>[% i.title %]</td>
                            <td>[% i.pic %]</td>
                            <td class="remove"><a href="[% c.uri_for_action('/book/del') %]/[% i.id %]"><i class="icon-remove"></i></a></td>
                        </tr>
                        [% END %]
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
    [% INCLUDE src/footer.tt %]
</body>
</html>

