<!DOCTYPE html>
<html>
<head>
    <title>联系我们 - iFindBook</title>
    [% INCLUDE src/html_head.tt %]
</head>
<body>
    <div class="outer-wrapper">
        [% INCLUDE src/search_logo_link.tt %]
        <div class="intro">
            <h4 class="intro-head">联系我们</h4>
            <div class="intro-content">
                <p>Email: ifindbook@sina.cn</p>
                <p>QQ: 283254659</p>
            </div>
        </div>
    </div>
    [% INCLUDE src/footer.tt %]
</body>
</html>

