<!DOCTYPE html>
<html>
<head>
    <title>用户意见反馈 - iFindBook</title>
    [% INCLUDE src/html_head.tt %]
</head>
<body>
    <div class="outer-wrapper">
        <div class="navbar navbar-static-top navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="[% c.uri_for_action('/index') %]">iFindBook</a>
                    <ul class="nav">
                        <li><a href="/">搜索</a><li>
                        <li><a href="/recommend">书单</a><li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="aboutus-main">
                <div class="page-header">
                    <p class="lead">意见反馈</p>
                </div>
                <div class="intro-content">
                    <p>感谢您抽出时间回答以下问题，为我们提供宝贵意见。我们非常重视您的反馈意见，并且会利用它们不断改善我们的服务。</p>
                    <form id="form-fdbk" method="post" action="[% c.uri_for_action('/feedback/add') %]">
                        <fieldset>
                            <label>您觉得网站主页的打开速度快吗？</label>
                            <label class="radio inline unwrap">
                                <input type="radio" name="index_open_time" value="fast">
                                <span class="muted">很快</span>
                            </label>
                            <label class="radio inline unwrap">
                                <input type="radio" name="index_open_time" value="ok">
                                <span class="muted">一般</span>
                            </label>
                            <label class="radio inline unwrap">
                                <input type="radio" name="index_open_time" value="slow">
                                <span class="muted">很慢</span>
                            </label>
                            <p></p>
                            <label>您觉得网站搜索速度快吗？</label>
                            <label class="radio inline unwrap">
                                <input type="radio" name="search_resp_time" value="fast">
                                <span class="muted">很快</span>
                            </label>
                            <label class="radio inline unwrap">
                                <input type="radio" name="search_resp_time" value="ok">
                                <span class="muted">一般</span>
                            </label>
                            <label class="radio inline unwrap">
                                <input type="radio" name="search_resp_time" value="slow">
                                <span class="muted">很慢</span>
                            </label>
                            <p></p>
                            <label>搜索结果对您有帮助吗？</label>
                            <label class="radio inline unwrap">
                                <input type="radio" name="search_result_quality" value="yes">
                                <span class="muted">有帮助</span>
                            </label>
                            <label class="radio inline unwrap">
                                <input type="radio" name="search_result_quality" value="no">
                                <span class="muted">没有帮助</span>
                            </label>
                            <p></p>
                            <label>网站界面设计令您满意吗？</label>
                            <label class="radio inline unwrap">
                                <input type="radio" name="ui_quality" value="yes">
                                <span class="muted">满意</span>
                            </label>
                            <label class="radio inline unwrap">
                                <input type="radio" name="ui_quality" value="ok">
                                <span class="muted">凑合</span>
                            </label>
                            <label class="radio inline unwrap">
                                <input type="radio" name="ui_quality" value="no">
                                <span class="muted">很难看</span>
                            </label>
                            <p></p>
                            <label>其他意见</label>
                            <textarea class="muted othsg" rows="6" name="other_suggestions"></textarea>
                            <p></p>
                            <button type="submit" class="btn btn-primary btn-fdbk-submit">提交反馈</button>
                        </fieldset>
                    </form>
                </div>

                <div class="modal hide fade" role="dialog" id="thx-modal">
                    <div class="modal-body">
                        <p class="text-center">谢谢您的参与！</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-modal-close" data-dismiss="modal" aria-hidden="true">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    [% INCLUDE src/footer.tt %]
</body>
</html>

