<!DOCTYPE html>
<html>
<head>
    <title>iFindBook</title>
    <meta name="description" content="iFindBook是一个搜索和发现电子书的平台，收录了海量各类格式的电子书籍，包括PDF, EPUB, MOBI等。" />
    <meta name="keywords" content="iFindBook,电子书,pdf,epub,mobi" />
    <meta name="author" content="" />
    [% INCLUDE src/html_head.tt %]
</head>
<body>
    <div class="outer-wrapper">
        <div class="navbar navbar-static-top navbar-inverse fb-nav">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li class="active"><a href="/">搜索</a><li>
                        <li><a href="/recommend">书单</a><li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container index-main">
            <div class="hero-unit">
                <div class="logo-bg"></div>
                <p class="text-center muted logo-desc" style="margin-top:10px;">最优秀的电子书搜索引擎</p>
            </div>
            <div class="index-form-div">
                <form method="get" action="/search">
                    <div class="input-append ctrl-container">
                        <input id="srch-q" class="ct-srch-tb" type="text" name="q" value="" />
                        <input id="srch-start" type="hidden" name="page_no" value=1 />
                        <button type="submit" class="btn btn-primary srch-btn"><i class="icon-search icon-white"></i></button>
                        <p class="help-block">提示：输入书名+格式名即可搜索指定格式的电子书，如<a href="[% c.uri_for_action('search/index', {q => '失落的秘符 mobi'}) %]">失落的秘符 mobi</a></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    [% INCLUDE src/footer.tt %]
</body>
</html>
