<!DOCTYPE html>
<html>
<head>
    <title>iFindBook</title>
    [% INCLUDE src/html_head.tt %]
</head>
<body>
    <div class="outer-wrapper">
        <div class="navbar navbar-static-top navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li class="active"><a href="/">搜索</a><li>
                        <li><a href="/recommend">书单</a><li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container index-main">
            <div class="hero-unit">
                <div class="logo-bg"></div>
                <p class="text-center muted logo-desc" style="margin-top:10px;">最优秀的电子书搜索引擎</p>
            </div>
            <div class="index-form-div">
                <form method="get" action="/search">
                    <div class="input-append ctrl-container">
                        <input id="srch-q" class="ct-srch-tb" type="text" name="q" value="[% q %]" />
                        <input id="srch-start" type="hidden" name="page_no" value=1 />
                        <button type="submit" class="btn btn-primary srch-btn"><i class="icon-search icon-white"></i></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    [% INCLUDE src/footer.tt %]
</body>
</html>
