<!DOCTYPE html>
<html>
<head>
    <title>404 Not Found - iFindBook</title>
    [% INCLUDE src/html_head.tt %]
</head>
<body>
    <div class="outer-wrapper">
        <div class="navbar navbar-static-top navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="[% c.uri_for_action('/index') %]">iFindBook</a>
                    <ul class="nav">
                        <li><a href="/">搜索</a><li>
                        <li><a href="/recommend">书单</a><li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="aboutus-main">
                <h4>Not Found</h4>
                <p>你要找的网页不存在哦，去别处看看吧。</p>
            </div>
        </div>
    </div>
    [% INCLUDE src/footer.tt %]
</body>
</html>



