<!DOCTYPE html>
<html>
<head>
    <title>Recommend Action - iFindBook</title>
    [% INCLUDE src/html_head.tt %]
</head>
<body>
    <div class="outer-wrapper">
        <div class="navbar navbar-static-top">
            <div class="navbar-inner">
                <ul class="nav">
                    <li><a href="/">首页</a><li>
                    <li class="active"><a href="/recommend">好书推荐</a><li>
                </ul>
            </div>
        </div>
        
        <div class="container">
            <div class="ra-tab-list">
                <ul class="nav nav-tabs nav-stacked">
                    <li><a href="#add-tag" data-toggle="tab">添加tag</a></li>
                    <li><a href="#del-tag" data-toggle="tab">删除tag</a></li>
                    <li><a href="#add-book" data-toggle="tab">添加book</a></li>
                    <li><a href="#del-book" data-toggle="tab">删除book</a></li>
                </ul>
            </div>
            
            <div class="tab-content ra-tab-content">
                <div class="tab-pane active" id="add-tag" style="height:500px;">
                    add tag
                </div>
                <div class="tab-pane" id="del-tag" style="height:500px;">
                    del tag
                </div>
                <div class="tab-pane" id="add-book" style="height:500px;">
                    add book
                </div>
                <div class="tab-pane" id="del-book" style="height:500px;">
                    del book
                </div>
            </div>
        </div>
    </div>
    [% INCLUDE src/footer.tt %]
</body>
</html>
