<!DOCTYPE html>
<html>
<head>
    <title>好书推荐 - iFindBook</title>
    [% INCLUDE src/html_head.tt %]
</head>
<body>
    <div class="outer-wrapper">
        <div class="navbar navbar-static-top">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li><a href="/">首页</a><li>
                        <li class="active"><a href="/recommend">好书推荐</a><li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs nav-stacked">
        
    </ul>
    [% INCLUDE src/footer.tt %]
</body>
</html>
