<!DOCTYPE html>
<html>
<head>
    <title>书单 - iFindBook</title>
    [% INCLUDE src/html_head.tt %]
</head>
<body>
    <div class="outer-wrapper">
        <div class="navbar navbar-static-top navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li><a href="/">搜索</a><li>
                        <li class="active"><a href="/recommend">书单</a><li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="container rec-main">
            <div class="cat-sidebar">
                <ul class="nav nav-list cat-sidenav">
                    [% url = c.uri_for_action("/recommend/index") %]
                    [% IF !catalog %]
                    <li class="active"><a href="[% url %]"><i class="icon-chevron-right"></i>全部</a></li>
                    [% ELSE %]
                    <li><a href="[% url %]"><i class="icon-chevron-right"></i>全部</a></li>
                    [% END %]

                    [% FOREACH i IN catalogs %]
                    [% url = c.uri_for_action("/recommend/catalog") _ "/" _ i %]
                    [% IF i == catalog %]
                    <li class="active"><a href="[% url %]"><i class="icon-chevron-right"></i>[% i %]</a></li>
                    [% ELSE %]
                    <li><a href="[% url %]"><i class="icon-chevron-right"></i>[% i %]</a></li>
                    [% END %]
                    [% END %]
                </ul>
            </div>

            <div class="cat-main">
                [% IF catalog %]
                <div class="cat-label">[% catalog %]</div>
                [% ELSE %]
                <div class="cat-label">全部</div>
                [% END %]
                <div class="subcat-topnav">
                    <div class="subcat-content">
                    [% FOREACH i IN subcats %]
                        [% url = c.uri_for_action("/recommend/subcat") _ "/" _ i %]
                        [% IF i == subcat %]
                        <span class="active"><a href="[% url %]">[% i %]</a></span>
                        [% ELSE %]
                        <span><a href="[% url %]">[% i %]</a></span>
                        [% END %]
                    [% END %]
                    </div>
                </div>
                <div class="subcat-main">
                    [% FOREACH i IN books %]
                    <div class="media">
                        [% book_url = c.uri_for_action("/book/list") _ "/" _ i.isbn %]
                        <a class="pull-left" href="[% book_url %]">
                            <img class="media-object pic-resize" src="/static/pics/[% i.pic %]" alt="[% i.title %]">
                        </a>
                        <div class="media-body">
                            <p class="media-heading"><a href=[% book_url %]>[% i.title %]</a></p>
                            <p class="muted small">[% i.producer %]</p>
                            <p><span class="rating[% i.rating %]"></span></p>
                            <p class="small">[% i.summary %]...</p>
                        </div>
                    </div>
                    [% END %]
                </div>
                <div class="rec-page">
                    <div class="pagination pagination-small pagination-centered">
                        <ul>
                            [% IF prev_page_url.label %]
                            <li><a href="[% prev_page_url.url %]">&laquo;</a></li>
                            [% ELSE %]
                            <li class="disabled"><span>&laquo;</span></li>
                            [% END %]
                            [% FOREACH i IN page_urls %]
                            [% IF i.label == "..." %]
                            <li class="disabled"><span>[% i.label %]</span></li>
                            [% ELSIF i.label == page_no %]
                            <li class="active"><a href="[% i.url %]">[% i.label %]</a></li>
                            [% ELSE %]
                            <li><a href="[% i.url %]">[% i.label %]</a></li>
                            [% END %]
                            [% END %]
                            [% IF next_page_url.label %]
                            <li><a href="[% next_page_url.url %]">&raquo;</a></li>
                            [% ELSE %]
                            <li class="disabled"><span>&raquo;</span></li>
                            [% END %]
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    [% INCLUDE src/footer.tt %]
</body>
</html>
