<!DOCTYPE html>
<html>
<head>
    <title>[% q %] - iFindBook</title>
    [% INCLUDE src/html_head.tt %]
</head>
<body>
    <div class="outer-wrapper">
        <div class="navbar navbar-static-top navbar-inverse">
            <div class="navbar-inner">
                <div class="container">
                    <ul class="nav">
                        <li><a href="/">首页</a><li>
                        <li><a href="/recommend">好书推荐</a><li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="top-form-container">
            <form method="get" action="/search">
                <div class="input-append top-form">
                    <input id="srch-q" class="top-tb" type="text" name="q" value="[% q %]"/>
                    <input id="srch-start" type="hidden" name="page_no" value=1 />
                    <button type="submit" class="btn btn-primary top-btn"><i class="icon-search icon-white"></i></button>
                </div> 
            </form>
        </div>

        <div class="search-result">
            [% IF results.size == 0 %]
            <div class="no-result">
                没有找到书名中包含 "[% q %]" 的书籍哦！
            </div>
            [% ELSE %]
            [% FOREACH i IN results %]
            <div class="search-item">
                <div><a href="[% i.clicktrackUrl %]" target="_blank">[% i.title %]</a></div>
                <div class="text-warning"><small>来自：[% i.visibleUrl %]</small></div>
                <div>[% i.content %]</div>
            </div>
            [% END %]
            <div class="search-page">
                <div class="pagination pagination-centered pagination-small">
                    <ul>
                    [% FOREACH i IN pages %]
                        [% IF page_no == i.label %]
                        <li class="active"><span>[% i.label %]</span></li>
                        [% ELSE %]
                        <li><a href="[% i.url %]">[% i.label %]</a></li>
                        [% END %]
                    [% END %]
                    </ul>
                </div>
            </div>
            [% END %]
        </div>
    </div>
    [% INCLUDE src/footer.tt %]
</body>
</html>

