<!DOCTYPE html>
<html>
<head>
    [% INCLUDE src/html_head.tt %]
</head>
<body>
    <div class="outer-wrapper">
        [% INCLUDE src/search_logo_link.tt %]
        <div class="intro">
            <h4 class="intro-head">网站地图</h4>
            <div class="intro-content">
            </div>
        </div>
    </div>
    [% INCLUDE src/footer.tt %]

</body>
</html>




